<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9704399d-8156-4319-8837-334f825c7306/resourcegroups/AspNetCoreAppWeb20221113160658ResourceGroup/providers/Microsoft.Web/sites/AspNetCoreAppWeb20221113160658</ResourceId>
    <ResourceGroup>AspNetCoreAppWeb20221113160658ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aspnetcoreappweb20221113160658.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9466a1f1-3229-4096-90b7-15266e144b3b</ProjectGuid>
    <PublishUrl>https://aspnetcoreappweb20221113160658.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AspNetCoreAppWeb20221113160658</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>