@model AspNetCoreApp.Web.Models.PasswordVM

@{
	ViewData["Title"] = "NewPassword";
	Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}



<body class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
				<img src="~/images/icon.png" style="margin-left:523px;" alt="Alternate Text" />
			</div>
		</div>


		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<div class="m-1 p-1 text-white justify-content-center">
					<h3 class="text-light text-center">Yeni Şifre Ekleme Ekranı</h3>
				</div>
			</div>
			<div class="col-3">
			</div>

		</div>



		<div class="row">
			<div class="col-3">
			</div>

			<div class="col-6">
				<form role="form" class="m-1 p-1" asp-action="NewPassword" asp-controller="Login" method="post">

					<div class="text-danger text-left mb-0" asp-validation-summary="ModelOnly">
					</div>

					<div class="form-group">
						<span asp-validation-for="OldPassword" class="text-danger"></span>
						<input type="text" class="form-control" asp-for="OldPassword" placeholder="Eski Şifreniz" />
					</div>



					<div class="form-group">
						<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
						<input type="password" class="form-control" asp-for="@Model.NewPassword" placeholder="Yeni Şifre" />
					</div>
					<div class="form-group">
						
						<input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre Tekrarı" />
					</div>
					@if (ViewBag.Message != null)
					{
						<div class="alert alert-danger" role="alert">
							@ViewBag.Message
						</div>
					}


					<button type="submit" class="btn btn-block btn-primary mb-3 text-white">Şifremi Yenile</button>

				</form>

			</div>

		</div>

	</div>
</body>


